{% extends "layout.html" %}
{% block title %}
Add CCA
{% endblock %}

{% block main %}
<h1>Add CCA</h1>

    {% if page_type == "new"  %}
    <form action="{{ form_meta['action'] }}" method="{{ form_meta['method'] }}">
        <label for="name">Name:</label>
        <input
            id="name"
            type="text"
            name="name"
            value=""
            placeholder="Name of CCA"
            autocomplete="off"
            required
            >
    
        <input type="submit" value="Submit">
    </form>
    <p id="fail">{{ message }}</p>
        
    {% elif page_type == "confirm" %}
    
    <h2>Confirm details</h2>
    <table>
        <tr>
            <th>{{ headers['label'] }}</th>
            <td>{{ form_data["name"] }}</td>
        </tr>
    </table>
    <p>Is this correct?</p>
    <form action="{{ form_meta['action'] }}" method="{{ form_meta['method'] }}">
        {% for name, value in form_data.items() %}
        <input
            type="hidden"
            name="{{ name }}"
            value="{{ value }}"
            >
        {% endfor %}
        <input type="submit" value="Yes">
    </form>
    
    <form action="/add_cca" method="GET">
        <input type="submit" value="No">
    </form>
    {% endif %}
{% endblock %}