{% extends "layout.html" %}
{% block title %}
Add Activity
{% endblock %}

{% block main %}
<h1>Add Activity</h1>

    {% if page_type == "new"  %}
    <form action="{{ form_meta['action'] }}" method="{{ form_meta['method'] }}">
        <label for="activity_startdate">Start Date:</label>
        <input
            id="activity_startdate"
            type="text"
            name="activity_startdate"
            value=""
            placeholder="Start Date of Activity"
            autocomplete="off"
            required
            >
        <br>
        <label for="activity_enddate">End Date:</label>
        <input
            id="activity_enddate"
            type="text"
            name="activity_enddate"
            value=""
            placeholder="End Date of Activity"
            autocomplete="off"
            required
            >
        <br>
        <label for="activity_desc">Description:</label>
        <input
            id="activity_desc"
            type="text"
            name="activity_desc"
            value=""
            placeholder="Description of Activity"
            autocomplete="off"
            required
            >
    
        <input type="submit" value="Submit">
    </form>
        
    {% elif page_type == "confirm" %}
    
    <h2>Confirm details</h2>
    <table>
        {% for name, value in form_data.items() %}
        <tr>
            <th>{{ name }}</th>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
    </table>
    <p>Is this correct?</p>
    <form action="{{ form_meta['action'] }}" method="{{ form_meta['method'] }}">
        {% for name, value in form_data.items() %}
        <input
            type="hidden"
            name="{{ name }}"
            value="{{ value }}"
            >
        {% endfor %}
        <input type="submit" value="Yes">
    </form>
    
    <form action="/add_activity" method="GET">
        <input type="submit" value="No">
    </form>
    {% endif %}
{% endblock %}