{% extends "layout.html" %}
{% block title %}
{{ entity_rs }}
{% endblock %}

{% block main %}
<h1>{{ entity_rs }}</h1>
<p>Register a {{ entity1 }} into {{ entity2 }}</p>

<form action="/edit_{{ entity_rs }}?add" method="{{ form_meta['method'] }}">
    <input type="submit" value="Add Record">
</form>

<form action="/edit_{{ entity_rs }}?edit" method="{{ form_meta['method'] }}">
    <input type="submit" value="Edit Record">
</form>

<form action="{{ form_meta['action'] }}" method="{{ form_meta['method'] }}">
    <input type="submit" value="View Record">
</form>
{% endblock %}