{% extends "layout.html" %}
{% block title %}
Index
{% endblock %}

{% block main %}
<h1>Index</h1>
<h2>View</h2>
    <li>
        <a href="/view_student">Student</a>
    </li>
    <li>
        <a href="/view_class">Class</a>
    </li>
<h2>CCA</h2>
    <li>
        <a href="/add_cca">Add CCA</a>
    </li>
    <li>
        <a href="/view_cca">View CCA</a>
    </li>
 <h2>Activity</h2>
    <li>
       <a href="/add_activity">Add Activity</a>  
    </li>
    <li>
        <a href="/view_activity">View Activity</a>
    </li>
{% endblock %}