{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{% block main %}
    <div class="view">
        <h1>Available Actions</h1><br>

        <a href="/view/students">
            <button class="action" type="button">STUDENT <img src="https://img.icons8.com/ios/250/000000/user.png" alt="student" width="50" height="50"></button>
        </a>
        <br><br>

        <a href="/view/classes">
            <button class="action" type="button">CLASS <img src="https://img.icons8.com/ios/250/000000/classroom.png" alt="class" width="50" height="50"></button>
        </a>
        <br><br>

        <div class="dropdown">
            <button class="action" class="dropbtn">CCA <img src="https://img.icons8.com/ios/250/000000/crowd.png" alt="club" width="50" height="50"></button>
            <div class="dropdown-content">
                <a href="/view/ccas">View CCA</a>
                <a href="/add_cca">New CCA</a>
            </div>
        </div>
        <br><br>

        <div class="dropdown">
            <button class="action" class="dropbtn">ACTIVITY <img src="https://img.icons8.com/ios/250/000000/sports-mode.png" alt="activity" width="50" height="50"></button>
            <div class="dropdown-content">
                <a href="/view/activities">View Activities</a>
                <a href="/add_activity">New Activity</a>
            </div>
        </div>
        <br><br>

    </div>
    <br><br>

    <div class="edit">
        <div class="dropdown">
            <button class="action" class="dropbtn">MEMBERSHIP</button>
            <div class="dropdown-content">
                <a href="/membership/add">Add Membership</a>
                <a href="/membership/display">Edit Membership</a>
            </div>
        </div>
        <br><br>

        <div class="dropdown">
            <button class="action" class="dropbtn">PARTICIPATION</button>
            <div class="dropdown-content">
                <a href="/participation/add">Add Participation</a>
                <a href="/participation/display">Edit Participation</a>
            </div>
        </div>
        <br><br>
    </div>

{% endblock %}