{% extends "layout.html" %}
{% block title %}
Success
{% endblock %}

{% block main %}
<h1>Success!</h1>
<p>Successful {{ action }} of the following data:</p>
<table>
    <tr>
        {% for key in form_data[0].keys() %}
        <th>{{ key }}</th>
        {% endfor %}
    </tr>
    {% for record in form_data %}
    <tr>
        {% for name, value in record.items() %}
        <td>{{ value }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<br>
<form action="/view/membership" method="GET">
    <input
        type="hidden"
        name="cca_name"
        value="{{ cca_name }}"
    >
    <input type="submit" value="View Updated Database">
</form>
<form action="/index" method="GET">
    <input type="submit" value="Return to Homepage">
</form>
{% endblock %}