{% extends "layout.html" %}
{% block title %}
Success
{% endblock %}

{% block main %}
<h1>Success!</h1>
<p>Successful {{ action }} of the following data:</p>
<table>
    <tr>
        {% for key in form_data[0].keys() %}
        <th>{{ key }}</th>
        {% endfor %}
    </tr>
    {% for record in form_data %}
    <tr>
        {% for name, value in record.items() %}
        <td>{{ value }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<br>
{% if form == "cca" %}
    <form action="/view/ccas" method="GET">
        <input
            type="hidden"
            name="cca_name"
            value="{{ name }}"
        >
        <input type="submit" value="View Updated Database">
    </form>
{% elif form == "activity" %}
    <form action="/view/activities" method="GET">
        <input
            type="hidden"
            name="activity_name"
            value="{{ name }}"
        >
        <input type="submit" value="View Updated Database">
    </form>
{% elif form == "membership" %}
    <form action="/view/membership" method="GET">
        <input
            type="hidden"
            name="cca_name"
            value="{{ name }}"
        >
        <input type="submit" value="View Updated Database">
    </form>
{% elif form == "participation" %}
    <form action="/view/participation" method="GET">
        <input
            type="hidden"
            name="activity_name"
            value="{{ name }}"
        >
        <input type="submit" value="View Updated Database">
    </form>
{% endif %}
<form action="/index" method="GET">
    <input type="submit" value="Return to Homepage">
</form>
{% endblock %}