{% extends "layout.html" %}
{% block title %}
Participation
{% endblock %}

{% block main %}
<h1>Participation</h1>
<p>Register a student into an Activity</p>

    {% if page_type == 'new' %}
    <h2>Input Participation details</h2>
    <form action="{{ form_meta['action'] }}" method="{{ form_meta['method'] }}">
        <label for="student_id">Student ID:</label>
        <input
            id="student_id"
            type="text"
            name="student_id"
            value=""
            placeholder="ID of Student"
            autocomplete="off"
            required
            >
        
        <label for="activity_id">Activity ID:</label>
        <select name="activity_id" id="activity_id">
            {% for activity in activity_ids %}
            <option value="{{ activity }}">{{ activity }}</option>
            {% endfor %}
        </select>

        <label for="category">Category:</label>
        <select name="category" id="category">
            <option value="Achievement">Achievement</option>
            <option value="Enrichment">Enrichment</option>
            <option value="Leadership">Leadership</option>
            <option value="Service">Service</option>
        </select>

        <label for="role">Role:</label>
        <input
            id="role"
            type="text"
            name="role"
            value=""
            placeholder="Role of Student"
            autocomplete="off"
            >

        <label for="award">Award:</label>
        <input
            id="award"
            type="text"
            name="award"
            value=""
            placeholder="Award"
            autocomplete="off"
            >

        <label for="hours">Hours:</label>
        <input
            id="hours"
            type="text"
            name="hours"
            value=""
            placeholder="Activity Hours"
            autocomplete="off"
            >        
        
        <input type="submit" value="Submit">
    </form>
    <p id="fail">{{ message }}</p>

    {% elif page_type == 'edit' %}
    <h2>Input Participation details</h2>
    <form action="{{ form_meta['action'] }}" method="{{ form_meta['method'] }}">
        <label for="student_id">Student ID:</label>
        <select name="student_id" id="student_id">
            {% for student in student_ids %}
            <option value="{{ student }}">{{ student }}</option>
            {% endfor %}
        </select>

        <label for="activity_id">Activity ID:</label>
        <select name="activity_id" id="activity_id">
            {% for activity in activity_ids %}
            <option value="{{ activity }}">{{ activity }}</option>
            {% endfor %}
            <option value="None">None</option>
        </select>

        <label for="category">Category:</label>
        <select name="category" id="category">
            <option value="Achievement">Achievement</option>
            <option value="Enrichment">Enrichment</option>
            <option value="Leadership">Leadership</option>
            <option value="Service">Service</option>
        </select>

        <label for="role">Role:</label>
        <input
            id="role"
            type="text"
            name="role"
            value=""
            placeholder="Role of Student"
            autocomplete="off"
            >

        <label for="award">Award:</label>
        <input
            id="award"
            type="text"
            name="award"
            value=""
            placeholder="Award"
            autocomplete="off"
            >

        <label for="hours">Hours:</label>
        <input
            id="hours"
            type="text"
            name="hours"
            value=""
            placeholder="Activity Hours"
            autocomplete="off"
            >        

        <input type="submit" value="Submit">
    </form>
    <p id="fail">{{ message }}</p>

    {% elif page_type == 'confirm' %}
    <h2>Confirm details</h2>
        <table>
            {% for name, value in form_data.items() %}
            <tr>
                <th>{{ name }}</th>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}
        </table>
        <p>Is this correct?</p>
        <form action="{{ form_meta['action'] }}" method="{{ form_meta['method'] }}">
            {% for name, value in form_data.items() %}
            <input
                type="hidden"
                name="{{ name }}"
                value="{{ value }}"
                >
            {% endfor %}
            <input type="submit" value="Yes">
        </form>
        
        <form action="/edit_membership" method="GET">
            <input type="submit" value="No">
        </form>
    {% endif %}
{% endblock %}