{% extends "layout.html" %}
{% block title %}
Participation
{% endblock %}

{% block main %}
<h1>Participation</h1>
<p>Register a student into an Activity</p>

    {% if page_type = 'new' %}
    <h2>Input Participation details</h2>
    <form action="{{ form_meta['action'] }}" method="{{ form_meta['method'] }}">
        <label for="student_name">Student Name:</label>
        <input
            id="student_name"
            type="text"
            name="student_name"
            value=""
            >
        
        <label for="activity_id">Activity ID:</label>
        <select name="activity_id" id="activity_id">
            {% for activity in activity_ids %}
            <option value="{{ activity }}">{{ activity }}</option>
            {% endfor %}
            <option value="None">None</option>
        </select>
    </form>
    <p id="fail">{{ message }}</p>

    {% elif page_type = 'edit' %}
    <h2>Input Participation details</h2>
    <form action="{{ form_meta['action'] }}" method="{{ form_meta['method'] }}">
        <label for="student_name">Student Name:</label>
        <select name="student_name" id="student_name">
            {% for name in student_names %}
            <option value="{{ name }}">{{ name }}</option>
            {% endfor %}
        </select>

        <label for="activity_id">Activity ID:</label>
        <select name="activity_id" id="activity_id">
            {% for activity in activity_ids %}
            <option value="{{ activity }}">{{ activity }}</option>
            {% endfor %}
            <option value="None">None</option>
        </select>

        <input type="submit" value="Submit">
    </form>
    <p id="fail">{{ message }}</p>

    {% elif page_type = 'confirm' %}
    <h2>Confirm details</h2>
        <table>
            {% for name, value in form_data.items() %}
            <tr>
                <th>{{ name }}</th>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}
        </table>
        <p>Is this correct?</p>
        <form action="{{ form_meta['action'] }}" method="{{ form_meta['method'] }}">
            {% for name, value in form_data.items() %}
            <input
                type="hidden"
                name="{{ name }}"
                value="{{ value }}"
                >
            {% endfor %}
            <input type="submit" value="Yes">
        </form>
        
        <form action="/edit_membership" method="GET">
            <input type="submit" value="No">
        </form>
{% endblock %}