{% extends "layout.html" %}
{% block title %}
View {{ entity }}
{% endblock %}

{% block main %}
<h1>View {{ entity }}</h1>
{% if entity == "subject" %}
<h2>Subjects Taken</h2>
<table>
    {% for name, value in data %}
    <th>{{ name }}</th>
    <tr>{{ value }}</tr>
    {% endfor %}
</table>
{% endif %}

<form method="GET">
    <label for="search_key">Filter by: </label>
    <select name="search_key" id="search_key">
        {% if entity == "student" %}
        <option value="id">Student ID</option>
        <option value="name">Student Name</option>
        <option value="student_class">Class</option>
        <option value="age">Age</option>
        <option value="year_enrolled">Year Enrolled</option>
        <option value="graduating_year">Graduating Year</option>
    
        {% elif entity == "class" %}
        <option value="id">Class ID</option>
        <option value="name">Class Name</option>
        <option value="level">Class Level</option>
    
        {% elif entity == "cca" %}
        <option value="id">CCA ID</option>
        <option value="name">CCA Name</option>
    
        {% elif entity == "activity" %}
        <option value="id">Activity ID</option>
        <option value="start_date">Activity Start Date</option>
        <option value="end_date">Activity End Date</option>
        <option value="description">Activity Description</option>            
        {% endif %}
    </select>
    
    <label for="search_value">Search: </label>
    <input
        id="search_value"
        type="text"
        name="search_value"
        value=""
        >
</form>

<table>
    <p id="fail">{{ message }}</p>
    {% for name, value in data %}
    <th>{{ name }}</th>
    <tr>{{ value }}</tr>
    {% if entity == "student" %}
    <tr><a href="/view_subject">View Student's Subjects</a></tr>
    {% endif %}
    {% endfor %}
</table>
{% endblock %}