{% extends "layout.html" %}
{% block title %}
View {{ entity | title }}
{% endblock %}

{% block main %}

<h1>View {{ entity | title }}</h1>
{% if entity == "subject" %}
<h2>Subjects Taken</h2>
<table>
    <tr>
        {% for key in data[0].keys() %}
        <th>{{ key }}</th>
        {% endfor %}
    </tr>
    {% for record in data %}
    <tr>
        {% for key in data[0].keys() %}
        <td>{{ record[key] }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endif %}

<form action="view_{{ entity }}" method="POST">
    <label for="search_key">Filter by: </label>
    <select name="search_key" id="search_key">
        {% for header in headers %}
        <option value="{{ header['value'] }}">{{ header['label'] }}</option>
        {% endfor %}
    </select>
    
    <input
        id="search_value"
        type="text"
        name="search_value"
        value=""
        placeholder="Search..."
        autocomplete="off"
        required
        >
    <input type="submit" value="Search">
</form>
<a href="/view_{{ entity }}">View All</a>
<p id="fail">{{ message }}</p>

<table>
    <tr>
        {% for header in headers %}
        <th>{{ header['label'] }}</th>
        {% endfor %}
    </tr>
    {% for record in data %}
    <tr>
        {% for name, value in record.items() %}
        <td>{{ value }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<form action='/view_subject' method='POST'>
    <table>
        <tr>
            {% for key in data[0].keys() %}
            <th>{{ key }}</th>
            {% endfor %}
        </tr>
        {% for record in data %}
        <tr>
            {% if entity == "student" %}
            <td><input type="submit" value="View Subject"><input type="hidden" name="id" value="{{ record['id'] }}"></td>
            {% endif %}
            {% for key in data[0].keys() %}
            <td>{{ record[key] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
        
</form>

</table>
{% endblock %}